qgis2/scripts/ogd/Routingexport_Klagenfurt_OGD.txt
qgis3/notebooks/symbology-style.db
qgis3/notebooks/data/vertices.geojson
qgis3/notebooks/my-map.pgw
qgis3/notebooks/my-map.png
qgis3/notebooks/my-traj.pgw
qgis3/notebooks/my-traj.png
symbology-style.db
qgis3/data/vertices.geojson
.gitignore
.dvc/config
